.custom-footer {
    position: absolute !important;
    height: 8% !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}

.home-link{
	color: white;
}

.home-link:hover{
	color: white;
}